.header {
    background-color: lightskyblue;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.seccion1 {
    display:flex;
}

.infogeneral {
    background-color: lavender;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 10px;
}

#subtitle{
    text-align: center;
    padding-bottom: 10px;
}

#img1{
    margin: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.experiencia {
    background-color: ghostwhite;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.seccion2 {
    display: flex;
    background-color: lightgray;
    justify-content: space-around;
}
.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.intereses {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.footer {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
    background-color: ghostwhite;
}

th, td {
    padding: 5px;
}
